<!DOCTYPE html>
<html>
   <head>
      <title>Open Business</title>
      <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=1"/>
      <link rel="stylesheet" href="/css/main.css">
   </head>
   <body>
        <%- include('navbar'); %> 
        <div id="regular-page" style="margin:80px 300px;font-size: 20px; ">
            <%- body %>
        </div>
        
   </body>
</html>