<html>
    <header>
        <title>
            Create Organization
        </title>
    </header>
    <body>
        <div class="title" >Create an Organization!</div>
        <br>
        <form action="./create-organization-endpoint" method="post">
            Name
            <input type="text" name="Org_Name" placeholder="Organization's Name">
            <input type="submit">
        </form>
    </body>
</html>