<div id="regular-page" style="margin:80px 300px; text-align: center;">
    <div id="title" style="font-size: 30px;margin:40px;">Welcome to Open Buisness!</div>
    <div id="text" style="font-size: 20px;text-align: left;">
        Open Business is a tool to help organizations become more open. We do this by providing a platform for organizations to be transparent about their operations. We enable anyone to see and give feedback on your business processes.
    </div>
    
</div>