<div class="title" >Welcome to Open Buisness!</div>
<div>
    Open Business is a tool to help organizations become more open. We do this by providing a platform for organizations to be transparent about their operations. We enable anyone to see and give feedback on your business processes.
</div>