<div class='title'>Sign In!</div>
<br>
<form action="/login_request/" method="post">
    <div>Username:</div>
    <input type="text" name="username_name" placeholder="Username">
    <button>Submit</button>

</form>
<br>
<div>
    <a href="/signup"><button>
        Sign Up
    </button></a>
</div>