<!DOCTYPE html>
<html>
    <head>
        <title>
            User Login
        </title>
    </head>
    <body>
    <div class='title'>Sign In!</div>
        <br>
        <form action="/login_request/" method="post">
            <div>Username:</div>
            <input type="text" name="username_name" placeholder="Username">
            <input type="submit">
    
        </form>
        <br>
        <div>
            <a href="/signup"><button>
                Sign Up
            </button></a>
        </div>
    </body>
</html>