<!DOCTYPE html>
<html>
    <head>
        <title>
            User Login
        </title>
    </head>
    <body>
        <form action="/login_request/" method="post">
            <div>Username:</div>
            <input type="text" id="username" placeholder="Username">
            <input type="submit">
        </form>
    </body>
</html>