<!DOCTYPE html>
<html>
    <style>
        #navbar {
            padding: 10px 8px; 
            background-color: red; 
            width:100%;
            margin: -8px 0 50px -8px;
        }
        #navbar a {
            margin-right: 40px; 
            text-decoration: none; 
            color: black; 
            font-size: 20px;
        }
        .login-button {
            float: right;
        }
        #home {
            margin-left: 40px;
        }
    </style>
    
    <div id='navbar'>
        <a id="home" href="/">Home</a>
        <a href="/profile/">Profile</a>
        <a href="/create-organization/">Create Organization</a>
        <a href="/about/">About</a>
        <a href="/team/">Team</a>
        <a class='login-button' href="/login/">Log In</a>
        <a class='login-button' href="signup">Sign Up</a>
    </div>
</html>


