
<div id='navbar'>
    <a id="home" href="/">Home</a>
    <a href="/profile/">Profile</a>
    <a href="/create-organization/">Create Organization</a>
    <a href="/about/">About</a>
    <a href="/team/">Team</a>
    <a class='login-button' href="/login/">Log In</a>
    <a class='login-button' href="/signup/">Sign Up</a>
</div>


