<div class="title" >Welcome <%=user%>!</div>
<%for(i in organizations){%>
    <a href="/<%=organizations[i].admin%>/<%=organizations[i].name%>"><div><%=organizations[i].name%></div></a>
<%}%>
<a href="./create-organization"><button>Create Organization!</button></a>