<form action="/signup_request/" method="post">
    <div class='title'>Sign Up</div>
    <br>
    <div>Username:</div>
    <input type="text" name="username_name" id="username" pattern="[A-Za-z0-9]+" >
    <button>Submit</button>
</form>
<br>
<div>
    <a href="/login"><button>
        Log In
    </button></a>
</div>
<input name="username" id="username" pattern="[A-Za-z0-9]+">