<form action="/signup_request/" method="post">
    <div class='title'>Sign Up</div>
    <br>
    <div>Username:</div>
    <input type="text" name="username_name" placeholder="Username">
    <button>Submit</button>
</form>
<br>
<div>
    <a href="/login"><button>
        Log In
    </button></a>
</div>