<!DOCTYPE html>
<html>
    <head>
        <title>
            User Sign Up
        </title>
    </head>
    <body>
        <%- include('navbar'); %> 
        <form action="/signup_request/" method="post">
            <h1>Sign Up!</h1>
            <br>
            <div>Username:</div>
            <input type="text" name="username_name" placeholder="Username">
            <button>Submit</button>
        </form>
        <br>
        <div>
            <a href="/login"><button>
                Log In
            </button></a>
        </div>
    </body>
</html>