<div>Hi, in this prodject we have three siblings.</div>
<div>Our names are Michael, Joeseph, and Sara.</div>
<div>Michael is the founder of this software project.</div>
<div>Joeseph and Sara are the co-founders of this software project.</div>
<div>Michael is 22, a graduate of William and Mary.</div>
<div>Joeseph is 20, studing at Virginia Tech.</div>
<div>Sara is 14, a Freshman in Highschool.</div>